<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Daily Trip</title>
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/home.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <header>
    <nav class="navbar navbar-default header-navbar">
      <div class="container">
        <div class="navbar-header header-navbar-font">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="  false" aria-controls="navbar"> 
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/home">Daily Trip</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav header-itens">
            <li><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="/login">Login</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="welcome-banner">
      <h1>Welcome To Daily Trip</h1>
      <p>Here you can track all your travel journal</p>
      <div class="row">
        <button type="button" 
        class="btn btn-primary center-block btn-margin-fixed" 
        onclick="window.location.href='/register'">Register</button>
      </div>
      <div class="row">
        <button type="button" 
          class="btn btn-primary center-block btn-instagram btn-margin-fixed" 
          onclick="window.location.href='/authenticate'">
          <i class="icon-instagram"></i> 
          Login with Instagram
        </button>
      </div>
    </div>
  </header>

  <!-- Carrega os javascripts -->
  <script src="/jquery/jquery.min.js"></script>
  <script src="/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>