<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Register</title>
	  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
	  <link rel="stylesheet" href="/assets/css/register.css">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
   <nav class="navbar navbar-default">
      <div class="row centered-element">
          <a class="navbar-brand" href="/home">Daily Trip</a>
      </div>
    </nav>

    <div class="container" style="text-align: center;">
      <a class="btn-facebook" href="#">Logar com o facebook</a>
    </div>

    <hr/>

    <div class="container">

      <div class="input-group centered-element input-group-fixed">
        <input type="text" class="form-control input-fixed" placeholder="Nome do usuário">
      </div>

      <div class="input-group centered-element input-group-fixed">
        <input type="text" class="form-control input-fixed" placeholder="Senha">
      </div>

      <div class="input-group centered-element input-group-fixed">
        <input type="text" class="form-control input-fixed" placeholder="E-mail">
      </div>

      <div class="input-group centered-element input-group-fixed">
        <input type="text" class="form-control input-fixed" placeholder="Confirmar e-mail">
      </div>
      
    </div>

</body>
</html>